body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.liner {
  top: 0;
  height: 10px;
  width: 100%;
  background: lime;
  scale: 0 1;
  position: fixed;
  z-index: 9999;
  transform-origin: left;
  animation: liner-animation linear;
  animation-timeline: scroll();
}

@keyframes liner-animation {
  to {
    scale: 1 1;
  }
}

.banner {
  height: 100vh;
  width: 100vw;
  background: url("https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_640.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  padding: 20px;
  width: 500px;
  background: white;
}

.banner2 {
  height: 100vh;
  width: 100vw;
  background: url("https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner3 > img {
  opacity: 0;
  scale: 0.8;
  animation: fadeIn linear;
  animation-timeline: view();
  /*   animation-range: entry contain; */
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}

.banner4 .cards {
  display: flex;
  gap: 5px;
  animation: scrolling linear;
  animation-timeline: view();
  animation-range: 250px 800px;
}

.cards .card {
  height: 50px;
  width: 100px;
  color: white;
  background: black;
  border: 1px solid white;
  display: grid;
  place-content: center;
}

.banner4 {
  background: blue;
  display: flex;
  justify-content: center;
}
.banner5 {
  background: blue;
  display: flex;
  justify-content: center;
}
.banner5 .cards {
  display: flex;
  gap: 5px;
  animation: scrolling-reverse linear;
  animation-timeline: view();
  animation-range: 250px 800px;
}

@keyframes scrolling {
  to {
    transform: translate(calc(100% - 0.01rem));
  }
}
@keyframes scrolling-reverse {
  to {
    transform: translate(calc(-100% - 0.01rem));
  }
}
